.article-image{
    margin-top: 2em;
  }
  .article-container{
    margin-top: 7em;
  }
  p img{
    display: block;
    max-width: 650px;
    height: auto;
    width:auto;
  }
  .article-span{
    font-weight: 600;
  }
  