#thumbs-down:hover {
  color: #943126;
}

#thumbs-down, #thumbs-up {
  color: grey;
}

#thumbs-up:hover {
  color: #3498db;
}

#thumbs-up-active {
  color: #3498db;
}

#thumbs-down-active {
  color: #943126;
}
#like-dislike-btn {
  margin-left: 17px;
}