.right-column {
  text-align: right;
}

.cke_contents .cke_bottom {
  float: left;
  width: 100%;
}

.cke_reset {
  min-height: 400px;
  width: 100%;
}

.editor-input {
  width: 60%;
  margin-bottom: 1em;
  margin-top: 1em;
}

.editor-error {
  color: red;
}
.success-message{
color: #00d0a0;
}
.ui.green.button {
  margin: 1em;
  margin-right: -0.2em;
}