$primary-color: #00d0a0;
body > div, body > div > div,body > div > div > div.login-form {
    height: 100%;
}
.txt-login{
    padding-bottom: 10px;
    border-bottom: solid 1px rgba(230, 230, 230, 0.658);
}
.btn-login{
    border-radius: 20px !important;
    padding: 5px !important;
}
.form-container{
    max-width: 380px;
}
.form-container p{
    color:  rgba(148, 144, 144, 0.829);
    font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
    font-size: small;
}
.form-container p a{
    color:$primary-color;
}
.img-logo{
    height: 15vmin;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.bg-green{
    background-color: $primary-color !important;
    color: white !important;
}
.green{
    color: $primary-color !important;
}
.login-header{
    color: $primary-color !important;
}
