$primary-color: #00d0a0;

body>div>div>div.login-form,
body>div>div>div.ratings-container {
    height: 100% !important;
}
.ratings-container{
    margin-top: 200px;
    margin-left: 100px;
}
.txt-login{
    padding-bottom: 10px;
}
.btn-login{
    border-radius: 20px !important;
    padding: 5px !important;
}
.form-container{
    max-width: 380px;
}
.form-container p{
    color:  rgba(148, 144, 144, 0.829);
    font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
    font-size: small;
}
.form-container p a{
    color:$primary-color;
}
.img-logo{
    height: 15vmin;
    width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.bg-green{
    background-color: $primary-color !important;
    color: white !important;
}
.green{
    color: $primary-color !important;
}
.login-header{
    color: $primary-color !important;
}
h1,h2,h3,h4{
    color: $primary-color !important;
}
